@import "./vars.scss";
@import "~bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css?family=Baloo+2");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

* {
  font-family: "Baloo 2", sans-serif;
  color: $white;
}

body {
  background-color: $darkGrey;
}

.rowTitle {
  color: $primary;
}

.navbar-toggler {
  border-color: $primary;
  // background-color: $primary;
}

.navbar-brand {
  font-family: "Pacifico";
  color: $primary;
}

.nav-link {
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-link {
  color: $white;
}

@media (max-width: 576px) {
  .navbar-nav {
    margin-left: 0 !important;
    margin-bottom: 20px;
  }
}
